<div class = 'title'>Hangman</div>
<div id = 'guesses'>{{hangman.guessesRemaining}}</div>
<div class = 'hangmanContainer'>
  <div class = 'underline' *ngFor = 'let letter of hangman.secretWordLetters'>{{letter.placeholder}}</div>
  
  
  <div *ngFor = 'let row of hangman.alphabetDict'>

    <div 
      *ngFor = 'let dict of row'
      [ngClass] = "{'clicked' : dict.clicked}"
      (click) = 'selectLetter(dict.letter)' 
      class = 'keyboard' 
      >{{dict.letter}}</div>
    </div>

  <button (click) = 'newGame()' id = 'new'>New Puzzle</button>
  
</div>

<div *ngIf = '!clickedOnPlayMulti' (click) = 'displayLinkToShare()' id = 'connect'>Play Multiplayer!</div>

<div *ngIf = 'clickedOnPlayMulti' id = 'linkToShare'>
  <h3>Share this link with a friend to play together!</h3>
  <h4>ben-bauer.net</h4>
  <button id = 'done' (click) = 'hideLinkDiv()'>Done</button>
</div>

<div (click) = 'displayActiveChats()' id = 'chatRoom' *ngIf = '!chatsActivated'>Group Chat</div>
<div *ngIf = 'chatsActivated' id = 'activeChats'>
  <h4>You: hey! What letter should I guess next?</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
  <h4>You: hey!</h4>
</div>