.title {
    text-align: center;
    font-size: 6em;
    font-style: italic;
}
.underline{
    font-size: 150px;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: -4%;
    color: #f2b362;
    margin-right: 1%;
}

.hangmanContainer{
    text-align: center;
}

.underline, .keyboard {
    display: inline-block;
    vertical-align: top;
    
}

.keyboard{
    font-style: italic;
    box-sizing: border-box;
    margin-top: 0;
    border: 1px solid gray;
    border-radius: 5px;
    width: 6%;
    font-size: 4em;
    padding: 7px;
    margin-right: 5px;
    margin-bottom: 2%;
}

.keyboard:hover {
    background-color: #677077;
    cursor: pointer;
}